<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Student Details</title>
    <!--    <link rel="stylesheet" type="text/css" href="style.css">-->

</head>
<body>
<h1>Student Details</h1>
<form th:action="@{/web/insert}" th:method="post" th:object="${user}" th:id="form1">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" name="firstName" required
           placeholder="Enter your FirstName"><br><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" name="lastName" required
           placeholder="Enter your LastName"><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" name="email" required placeholder="Enter your Email"><br><br>

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" th:field="*{phone}" name="phone" placeholder="Enter your phoneNumber"><br><br>


    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}" name="age" required placeholder="Enter your age"><br><br>

    <!--    <label for="gender" >Gender:</label>-->
    <!--    <input type="gender" id="gender" th:field="*{gender}" name="gender" placeholder="Enter your Gender"><br><br>-->

    <label for="gender">Gender:</label>
    <select name="gender" th:field="*{gender}" id="gender">
        <option value="female">Female</option>
        <option value="male">Male</option>
        <option value="other">Other</option>
    </select>

    <label for="houseNo">House Number:</label>
    <input type="text" id="houseNo" th:field="*{houseNo}" name="houseNo" required placeholder="Enter your houseNumber">
    <br><br>

    <label for="landMark">Landmark:</label>
    <input type="text" id="landMark" th:field="*{landMark}" name="landMark" required
           placeholder="Enter your LandMark"><br><br>

    <label for="city">City:</label>
    <input type="text" id="city" th:field="*{city}" name="city" required placeholder="Enter your CityName"><br><br>

    <label for="state">State:</label>
    <input type="text" id="state" th:field="*{state}" name="state" required placeholder="Enter your StateName"><br><br>

    <label for="pinCode">Pincode:</label>
    <input type="text" id="pinCode" th:field="*{pinCode}" name="pinCode" required
           placeholder="Enter your PinCode"><br><br>


    <label for="name1">Subject Name1:</label>
    <input type="text" id="name1" th:field="*{subjectName1}" name="name" required
           placeholder="Enter your SubjectName"><br><br>
    <label for="name2">Subject Name2:</label>
    <input type="text" id="name2" th:field="*{subjectName2}" name="name" required placeholder="Enter your SubjectName">
    <br><br>
    <label for="name3">Subject Name3:</label>
    <input type="text" id="name3" th:field="*{subjectName3}" name="name" required
           placeholder="Enter your SubjectName"><br><br>


    <label for="name1">Department Name:</label>
    <input type="text" id="dname" th:field="*{departmentName}" name="name" required
           placeholder="Enter your DepartmentName"><br><br>

    <button>Submit</button>

</form>

<script>
    document.getElementById("phone").setAttribute("value","");
    document.getElementById("age").setAttribute("value","");
    document.getElementById("houseNo").setAttribute("value","");
    document.getElementById("pinCode").setAttribute("value","");

</script>

</body>
</html>
